<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th><th>Автор</th><th>Год</th><th></th><th></th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.getTitle()}">title</td>
                        <td th:text="${book.getAuthor()}">author</td>
                        <td th:text="${book.getYear()}">year</td>
                        <td>
                            <a th:href="@{ /books/show/{id} ( id = ${book.getId()} ) }">Посмотреть</a>
                        </td>
                        <td>
                            <a th:href="@{ /books/edit/{id} ( id = ${book.getId()} ) }">Изменить</a>
                        </td>
                        <td>
                            <a th:href="@{ /books/delete/{id} ( id = ${book.getId()} ) }">Удалить</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/books/add}" href="#">Добавить книгу</a>
            </div>
        </div>
    </div>
</body>
</html>