<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-8">
    <p>
    <span th:text="${book.getTitle()}" />, <span th:text="${book.getAuthor()}" />, <span th:text="${book.getYear()}" />
    </p>

    <form th:if="${book.getPerson() == null}"  action="" method="post" th:method="POST"  th:action="@{ /books/assign/{id} (id = ${book.getId()} ) }" th:object="${book}">
      <p>Эта книга свободна. Кому назначить ее?</p>
      <p>Выберите человека</p>

      <select class="form-control" th:field="*{person}">
        <option th:value="${person.getId()}" th:text="${person.getName()}" th:each="person : ${people}"></option>
      </select>

      <button type="submit" class="btn btn-primary">Назначить книгу</button>
    </form>


      <form th:if="${book.getPerson() != null}"  action="" method="post" th:method="POST"  th:action="@{ /books/release/{id} (id = ${book.getId()} ) }" th:object="${book}">

        <div th:if="${book.getPerson() != null}">
          <p>Книга сейчас у: <span th:text="${person.getName()}"/></p>
          <button class="btn btn-primary">Освободить книгу</button>
        </div>

      </form>




    </div>
  </div>
</div>
</body>
</html>